@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-siteapp" /> <!-- 避免转码 -->
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="HandheldFriendly" content="true">
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrap">
        <h1>夫妻相</h1>
        <div class="pic_panel">
            <div class="picture" id="couplePic">
                <img src="~/fonts/couple.jpg" />
            </div>
            <div class="clear"></div>
            <div class="couplelike"></div>
            <div class="clear"></div>
            <form>
                <input type="button" class="next" id="uploadImage" value="GO !!!">
            </form>

        </div>
    </div>
</body>
</html>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
    var appIdstr = '@ViewBag.JsConfig.appId';
    var timestampstr = '@ViewBag.JsConfig.timestamp';
    var nonceStrstr = '@ViewBag.JsConfig.nonceStr';
    var signaturestr = '@ViewBag.JsConfig.signature';

</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="~/Scripts/WxJs.js"></script>
<script>
    var Species = "2.1", BtnId;
    $('#couplePic').click(function () {
        BtnId = "couplePic";
        uploadimgs();
    });

    //种类（1.1：娃像谁 3人照片 1张；1.2：娃像谁 单人照 3张 ；2.1：夫妻相 双人照 1张；2.2夫妻相 2张）
    $('#uploadImage').click(function () {
        if ($('.weui_media_appmsg_thumb').length == 1) {
            $.get('Compare', { Species: Species, ManAndWife: $('.weui_media_appmsg_thumb')[0].attributes[2].nodeValue }, function (data) {
                if (data.isLock == 1) {
                    alert(data.ImgMsg);
                } else {
                    alert(data.ImgMsg);
                }
            });
        } else {
            alert('图片上传不完整，无法对比！');
        }

    });
</script>
